.single-product-main-content {
  margin: 20px 0;
}

.layout {
  max-width: calc(100 -20px);
  margin: 0 auto;
}

.layout .single-product-page {
  display: flex;
  flex-direction: column;
}

.single-product-page .left {
  width: 100%;
  flex-shrink: 0;
}

.single-product-page img {
  width: 100%;
  display: block;
}

.single-product-page .right {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.single-product-page .right > .name {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 20px;
}

.single-product-page .right > .price {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 20px;
}

.single-product-page .right > .desc {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 20px;
}

.single-product-page .right > .cart-buttons {
  display: flex;
}

.single-product-page .right > .cart-buttons .quantity-buttons {
  width: fit-content;
  display: flex;
  border: 2px solid rgba(0, 0, 0, 0.2);
  margin-right: 10px;
  height: 50px;
  border-radius: 5px;
}

.right > .cart-buttons .quantity-buttons > span {
  font-size: 18px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.right > .cart-buttons .quantity-buttons > span:nth-child(1) {
  border-right: 2px solid rgba(0, 0, 0, 0.2);
}

.right > .cart-buttons .quantity-buttons > span:nth-child(2) {
  width: 60px;
}

.right > .cart-buttons .quantity-buttons > span:nth-child(3) {
  border-left: 2px solid rgba(0, 0, 0, 0.2);
}

.single-product-page .right > .cart-buttons .add-to-cart {
  outline: none;
  border: none;
  height: 55px;
  width: 180px;
  border-radius: 5px;
  background: var(--blue);
  color: var(--white);
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.single-product-page .right > .cart-buttons .add-to-cart i {
  font-size: 20px;
  margin-right: 10px;
}

.single-product-page .right .dividier {
  margin: 20px 0;
  height: 1px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.single-product-page .right .info-item > .text-bold {
  font-size: 18px;
  font-weight: 500;
  display: block;
}

.right .info-item > .text-bold:nth-child(1) {
  margin-bottom: 20px;
  margin-top: 10px;
}

.right .info-item > span {
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  color: #3c3c3c;
}

.right .info-item > span i {
  margin: 0 5px;
}

@media screen and (min-width: 900px) {
  .single-product-main-content {
    margin: 75px 0;
  }
  .layout {
    max-width: 1200px;
  }
  .layout .single-product-page {
    flex-direction: row;
  }

  .single-product-page .left {
    width: 380px;
    height: 500px;
  }

  .single-product-page .right {
    padding: 0 35px;
  }
  .single-product-page .right > .name {
    font-size: 24px;
    line-height: 32px;
  }
  .single-product-page .right > .desc {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
  }

  .single-product-page .right > .cart-buttons {
    margin-top: 30px;
  }

  .single-product-page .right > .cart-buttons .add-to-cart {
    flex-grow: unset;
  }
}
