#button-top {
  background: var(--black);
  border: none;
  font-size: 20px;
  color: var(--white);
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}

#button-top i {
  display: flex;
  align-items: center;
  justify-content: center;
}
