.footer {
  width: 100%;
}

.footer-content {
  padding: 50px 20px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-flow: wrap;
  gap: 20px;
}

.footer-content .col {
  max-width: 300px;
}

.footer-content .col:nth-child(3) {
  width: 150px;
}

.footer-content .title {
  margin-bottom: 20px;
  font-size: 20px;
}

.footer-content .text {
  font-size: 14px;
}

.footer-content .c-item {
  display: flex;
  align-self: center;
  margin-bottom: 10px;
}

.footer-content .c-item i {
  flex-shrink: 0;
  font-size: 20px;
  margin-right: 10px;
  margin-top: 4px;
}

.footer-content span.text {
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
}

.bottom-bar {
  border-top: 1px solid lightgray;
}

.bottom-bar .bottom-bar-content {
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}

.bottom-bar .bottom-bar-content .text {
  font-size: 14px;
}

@media screen and (min-width: 900px) {
  .footer-content {
    justify-content: space-between;
    padding: 50px 0;
  }
  .footer-content .col:nth-child(3) {
    width: auto;
  }

  .bottom-bar .bottom-bar-content {
    padding: 0;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }
}
